<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.timotiushaniel.bajp3">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BAJP3"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.favorite.FavoriteActivity" />
        <activity
            android:name=".ui.splashscreen.SplashScreenActivity"
            android:theme="@style/Theme.BAJP3.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.detail.DetailActivity"
            android:label="@string/title_activity_detail_course"
            android:parentActivityName=".ui.home.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.timotiushaniel.bajp3.ui.home.HomeActivity" />
        </activity>
        <activity android:name=".ui.home.HomeActivity" />
    </application>

</manifest>